<% include partials/header %>
    <div><h1>Index page!</h1></div>
    <% blogs.forEach((blog)=>{%>
                <img src="<%=blog.image%>">
                <h2><%=blog.title%></h2>
                <p><%=blog.body%></p>
                <small><%=blog.created%></small>
    <%})%>


<% include partials/footer %>