<div class="jumbotron jumbotron-fluid bg-primary ">
    <div class="container">
      <h1 class="display-4 text-center">Welcome to the MySQL Example Site!</h1>
      <p class="lead text-center">This is an example site!</p>
    </div>
  </div>