body{
    background-color: rgb(27, 27, 27)!important;
    color: white!important;
}

.txt_yellow{
    color: yellow!important;
}

#firstComponent{
    margin-top: 56px;
}

#Post{
    color: rgb(24, 24, 24)!important;
}